/* blue team has shadow */
.ui.attached.info.message, .ui.info.message {
    box-shadow: 0px 0px 0px 0px #A9D5DE inset, 0px 0px 0px 0px transparent;
}
.header {
    display:inline;
}
/* dropdowns need consistent spacing applied and undecided series have shadows*/
.ui.message {
    box-shadow: 0 0 0 0;
}
.ui.message>.close.icon {
    margin: .3em 0em 0em 0em;
    right: .2em;
}
.pop {
    cursor: pointer;
}
i.red.icon, .ui.red.header {
    color: #9f3a38!important;
}
i.blue.icon, .ui.blue.header {
    color: #276f86;
}
.win {
	font-weight: 600;
}
.ui.compact.table td {
    padding: .4em .4em .4em .4em;

}
.ui.dropdown {
	padding-left: .4em;
}
.ui.table tr td {
    border-top:none;
}
.ui.celled.table tr td, .ui.celled.table tr th {
    border-left:none;

}